<!DOCTYPE html>
{% autoescape true %}
<html>
  <head>
    <link rel="stylesheet" href="/css/main.css">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

    <title>Filtered Forwarding</title>
  </head>
  <body role='document'>
    <div class="container">
      <!-- Navigation -->
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="#">Main</a></li>
            <li role="presentation"><a href="/subscriber">Subscriber Area</a></li>
            {% if logged %}
              <li role="presentation"><a href="{{logout}}">Logout</a></li>
            {% else %}
              <li role="presentation"><a href="{{login}}">Login</a></li>
            {% endif %}
          </ul>
        </nav>
        <h3 class="text-muted">Filtered Forwarding</h3>
      </div>

      <!-- Content -->
      <div class="panel panel-default">
        <div class="panel-heading"><h3 class="panel-title">Recently received emails</h3></div>
        <div class="panel-body">
          {% for email in emails %}
            <hr>
            <div>
              <p><b>From:</b> {{email.sender}}</p>
              <p><b>Subject:</b> {{email.subject}}</p>
              <p><b>Content:</b> {{email.content}}</p>
            </div>
          {% endfor %}
        <hr>
        </div>
      </div>
    </div>

    <!-- Bootstrap -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  </body>
</html>
{% endautoescape %}
